/* Global things */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* logo at the top */
svg {
    max-height: 256px;
    width: 100%;
}

/* guild name - just below the logo */
h1 { 
    color: #393e46; 
    font-size: 4.2rem;
    margin: 0;
    margin-top: -40px;
}

/* Nav icons - external links */
.centered-wrapper { 
    display: flex; 
    justify-content: center; 
}

nav {
    margin: 20px;
    background-color: #C4A859;
    border-radius: 25px;
    padding: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

nav img {
    width: 32px;
    height: 32px;
    margin-left: 12px;
    margin-right: 12px;
}

nav a img:hover {
    transform: scale(1.1)
}

/* Apply now button */
.button {
    background-color: #487DC3;
    border: 0;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
}

.button:active {
    background-color: #487DC3;
}

.button:hover {
    background-color: #25539B;
}

/* Boxen and layout */
.sidebyside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.half {    
    width: 500px;
    margin: 20px;
}

.full {
    max-width: 1080px;
    margin: 20px;
}

.box {
    box-shadow: 10px 10px 25px 0 rgba(69, 82, 115, 1);
    background-color: #393E46;
    padding: 20px;
    color: white;
}

@media (max-width: 1160px) {
    .full, .half { width: 80%; }
}

/* Box headers */
h2 { color: #EBE8C2; 
    margin: 0; 
    font-size: 2rem; 
}

/* CATEGORIZE ME */
h1, h2, i { width: 100%; text-align: center; }

.centered-text {
    text-align: center;
}

p, li {
    line-height: 1.75em;
    letter-spacing: 0.05em;
}

h1, h2 { font-family: 'Caesar Dressing', cursive;  }