<h2>Schedule</h2>
<br/>
<div class="calendar-grid">
    <div><h3>Sun</h3></div>
    <div><h3>Mon</h3></div>
    <div><h3>Tue</h3></div>
    <div><h3>Wed</h3></div>
    <div class="calendar-active"><h3>Thu</h3><div>5-8pm Mythic Raid</div></div>
    <div class="calendar-active"><h3>Fri</h3><div>5-8pm Mythic Raid</div></div>
    <div><h3>Sat</h3></div>
</div>

<p class="text-right">All times Server/Pacific</p>
